@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Lowvetica';
  src: url('/src/fonts/Lowvetica-UltraThin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Lowvetica';
  src: url('/src/fonts/Lowvetica.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lowvetica';
  src: url('/src/fonts/LowveticaSemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Lowvetica';
  src: url('/src/fonts/LowveticaBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}


::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: #353535;
}

::-webkit-scrollbar-thumb {
  background-color: #E40046;
  border-radius: 3px; 
}

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;500;600&family=Lato:wght@300;400&display=swap');